@model Clinic.Models.Employee

<h1>Ajouter un nouvel employé</h1>

<form asp-action="Create">
    <div>
        <label asp-for="Name">Nom de l'employé :</label>
        <input asp-for="Name" class="box">
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Email" class="control-label">Email de l'employé :</label>
        <input asp-for="Email" class="box">
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="ServiceId" class="control-label">Service :</label>
        <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceList">
            <option value="">Sélectionnez un service</option>
        </select>
        <span asp-validation-for="ServiceId" class="text-danger"></span>
    </div>


    <button type="submit" class="btn">Ajouter</button>
</form>
