@model Clinic.Models.EmploiViewModel
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="~/css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/css/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <style>
        footer.footer {
            text-align: center;
            width: 100%;
            position: fixed;
            bottom: 0;
        }
        .container{margin-top:30px;}

        .header .logo {
            font-size: 1.5rem;
            color: var(--black);
            margin-top: 15px;
            margin-left: 30px;
        }

            .header .logo i {
                margin-top: 15px;
                color: #1A76D1;
            }

        .header .nav li a {
            font-size: 13px;
        }

       
        .btn-dx{
            width:130px;
            height:35px;
            text-align:center;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="header-inner">

            <div class="row">
                <!-- Start Logo -->
                <div class="col">
                    <!-- Start Logo -->
                    <a href="" class="logo">
                        <i class="fa fa-heartbeat" aria-hidden="true"><strong>CliniSys</strong></i>
                    </a>

                </div>

                <div class="margin">
                    <!-- Main Menu -->
                    <div class="main-menu">
                        <nav>
                            <ul class="nav menu">
                                <li><a asp-area="" asp-controller="Poste" asp-action="Index"> Poste</a></li>
                                <li><a asp-area="" asp-controller="Repos" asp-action="Index">Pause</a></li>
                                <li><a asp-area="" asp-controller="Supplement" asp-action="Index">Heurs Suplémentaires</a></li>

                                <li><a asp-area="" asp-controller="Emploi" asp-action="Create">Emploi</a></li>

                                <a asp-area="" asp-controller="Home" asp-action="Index"> <div class="btn btn-dx">Déconnexion</div></a>

                            </ul>
                        </nav>
                    </div>

                </div>

            </div>
        </div>
    </header>


<input type="hidden" id="serviceId" value="@ViewBag.ServiceId" />
    <div class="center">

        <div class="container">

    <table class="tablee">
    <thead>
        <tr>
            <th>Employé ID</th>
            <th>Nom et Prénom</th>
            <th>Email</th>
            <th>Heurs par semaine</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="employeeTableBody">
        <!-- Employee rows will be inserted here by JavaScript -->
    </tbody>
</table>
        </div>
    </div>

<p id="noRequestsMessage" style="display: none;">No registration requests to approve.</p>
    <section class="Feautes">
        <div class="container">
         
            <div class="row">
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features">
                        <div class="signle-icon">
                            <i class="icofont icofont-ambulance-cross"></i>
                        </div>
                        <h3></h3>
                    </div>
                    <!-- End Single features -->
                </div>
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features">
                        <div class="signle-icon">
                            <i class="icofont icofont-medical-sign-alt"></i>
                        </div>
                        <h3></h3>
                    </div>
                    <!-- End Single features -->
                </div>
                <div class="col-lg-4 col-12">
                    <!-- Start Single features -->
                    <div class="single-features last">
                        <div class="signle-icon">
                            <i class="icofont icofont-stethoscope"></i>
                        </div>
                        <h3></h3>
                    </div>
                    <!-- End Single features -->
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Area -->
    <footer id="footer" class="footer ">
     
        <!--/ End Footer Top -->
        <!-- Copyright -->
        <div class="copyright">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="copyright-content">
                        <p>
                            Faites confiance à notre équipe
                              <a href="" class="logo">
                                    <i class="fa fa-heartbeat" aria-hidden="true"> <strong>CliniSys</strong></i>
                                </a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var serviceId = sessionStorage.getItem("serviceId");
        console.log("Service ID:", serviceId);

        fetch(`/Account/GetUnapprovedEmployees?serviceId=${serviceId}`)
            .then(response => {
                console.log("Response:", response); // Log de la réponse
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                var tbody = document.getElementById("employeeTableBody");
                var noRequestsMessage = document.getElementById("noRequestsMessage");

                // Clear any existing rows in the tbody
                tbody.innerHTML = '';

                if (data.length > 0) {
                    noRequestsMessage.style.display = "none";
                    data.forEach(employee => {
                        var row = document.createElement("tr");

                        var cellId = document.createElement("td");
                        cellId.textContent = employee.employeeId;

                        var cellName = document.createElement("td");
                        cellName.textContent = employee.employeeName;

                        var cellEmail = document.createElement("td");
                        cellEmail.textContent = employee.email; // Afficher l'email

                        var cellTotalHours = document.createElement("td");
                        var totalHoursInput = document.createElement("input");
                        totalHoursInput.type = "number";
                        totalHoursInput.min = "0";
                        totalHoursInput.step = "1";
                        totalHoursInput.className = "";

                        cellTotalHours.appendChild(totalHoursInput);

                        var cellAction = document.createElement("td");

                        var approveButton = document.createElement("button");
                        approveButton.textContent = "Confirmer";
                        approveButton.className = "btn";
                        approveButton.addEventListener("click", function () {
                            var totalHours = totalHoursInput.value;
                            approveEmployee(employee.employeeId, totalHours); // Appeler la fonction pour approuver l'employé
                        });

                        cellAction.appendChild(approveButton);

                        row.appendChild(cellId);
                        row.appendChild(cellName);
                        row.appendChild(cellEmail); // Ajouter la cellule email à la ligne
                        row.appendChild(cellTotalHours);
                        row.appendChild(cellAction);

                        tbody.appendChild(row);
                    });

                } else {
                    noRequestsMessage.style.display = "block";
                }
            })
            .catch(error => {
                console.error("Error fetching unapproved employees:", error);
            });
    });

    function approveEmployee(employeeId, totalHours) {
        const data = {
            employeeId: employeeId,
            totalHours: totalHours
        };

        fetch(`/Account/ApproveEmployee`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data); // Afficher la réponse dans la console
            })
            .catch(error => {
                console.error("Error approving employee:", error);
            });
    }

</script>
    <!-- End Blog Area -->
    <!-- End Blog Area -->


    <!--/ End Footer Area -->
    <!-- jquery Min JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jquery Migrate JS -->
    <script src="~/js/jquery-migrate-3.0.0.js"></script>
    <!-- jquery Ui JS -->
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- Easing JS -->
    <script src="~/js/easing.js"></script>
    <!-- Color JS -->
    <script src="~/js/colors.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="~/js/bootstrap-datepicker.js"></script>
    <!-- Jquery Nav JS -->
    <script src="~/js/jquery.nav.js"></script>
    <!-- Slicknav JS -->
    <script src="~/js/slicknav.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <!-- Niceselect JS -->
    <script src="~/js/niceselect.js"></script>
    <!-- Tilt Jquery JS -->
    <script src="~/js/tilt.jquery.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/js/owl-carousel.js"></script>
    <!-- counterup JS -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Steller JS -->
    <script src="~/js/steller.js"></script>
    <!-- Wow JS -->
    <script src="~/js/wow.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up CDN JS -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script src="~/js/main.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script src="~/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

</body>
</html>

