@model Clinic.Models.Poste

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href="img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    

</head>
<body>
    <header class="header">
        <div class="header-innner">
            <div class="heading">
                <div class="inner">
                    <div class="row">
                        <div class="col">
                            <a href="" class="logo">
                                <i class="fa fa-heartbeat" aria-hidden="true"><strong>CliniSys</strong></i>
                            </a>
                            <div class="mobile-nav"></div>
                        </div>
                        <div class="col">
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li><a asp-area="" asp-controller="Emploi" asp-action="Create">Employée</a></li>
                                        <li><a asp-area="" asp-controller="Poste" asp-action="AddRepos">Pause</a></li>
                                        <li><a asp-area="" asp-controller="Poste" asp-action="AddSupplement">Heures Supplémentaire</a></li>
                                        <li><a asp-area="" asp-controller="Emploi" asp-action="Create">Emploi</a></li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Index"> <div class="btn">Déconnexion  </div></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <form asp-action="AddPoste" class="container" method="post">
        <div class="text center"><h1>Gestion <span> Des poste</span></h1></div>
        <div class="container margin">
            <div class="col">
                <label asp-for="Postename" class="text"><h5>Nom du poste </h5></label>
                <input asp-for="Postename" placeholder="Nom Poste" class="boxx" />
                <span asp-validation-for="Postename"></span>
            </div>

            <strong>
                <div class="row">
                    <div class="col">
                        <label><input type="checkbox" asp-for="Matin"> Matin</label>
                    </div>
                    <div class="col">
                        <label><input type="checkbox" asp-for="ApresMidi"> Après-midi</label>
                    </div>
                    <div class="col">
                        <label><input type="checkbox" asp-for="GardeSoir"> Garde de soir</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Séance 1 :</label>
                    </div>
                    <div class="col">
                        <label>Début :</label>
                        <input asp-for="Seance1Debut" type="time" class="box">
                    </div>
                    <div class="col">
                        <label>Fin :</label>
                        <input asp-for="Seance1Fin" type="time" class="box">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Séance 2 :</label>
                    </div>
                    <div class="col">
                        <label>Début :</label>
                        <input asp-for="Seance2Debut" type="time" class="box">
                    </div>
                    <div class="col">
                        <label>Fin :</label>
                        <input asp-for="Seance2Fin" type="time" class="box">
                    </div>
                </div>

                <div class="row margin">
                    <div class="col">
                        <label><input type="checkbox" asp-for="Actif"> Actif?</label>
                    </div>
                    <div class="col">
                        <select asp-for="CategorieId" asp-items="ViewBag.CategorieList" class="box">
                            <option value="">Sélectionnez une catégorie</option>
                        </select>
                    </div>
                </div>
            </strong>
            <div class="row center">
                <button type="submit" class="btn">Ajouter</button>
            </div>
        </div>
    </form>

    <form asp-action="DeletePoste" asp-controller="Poste" method="post" class="container margin">
        <div class="container margin">
            <div class="row">
                <div class="col">
                    <label for="nom">Nom du Poste :</label>
                    <input type="text" id="nom" name="nom" class="form-control" required>
                </div>
            </div>

            <div class="row margin">
                <label for="categorieId"></label>
                <select asp-for="CategorieId" class="box" asp-items="@ViewBag.CategorieList">
                    <option value="">Sélectionnez une catégorie</option>
                </select>

                <div class="col">
                    <button type="submit" class="btn">Supprimer le poste</button>
                </div>
            </div>
        </div>
    </form>

</body>
</html>
