@model Clinic.Models.Repos
@{
    ViewData["Title"] = "Ajouter un repos";
}

<h1>Ajouter un repos</h1>

<form asp-action="AddRepos">
    <div class="form-group">
        <label asp-for="ReposName" class="control-label">Nom du repos :</label>
        <input asp-for="ReposName" class="form-control">
        <span asp-validation-for="ReposName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date_Jours" class="control-label">Date du jour :</label>
        <input asp-for="Date_Jours" type="date" class="form-control">
        <span asp-validation-for="Date_Jours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategorieId" class="control-label">Catégorie :</label>
        <select asp-for="CategorieId" class="form-control" asp-items="@ViewBag.CategorieList">
            <option value="">Sélectionnez une catégorie</option>
        </select>
        <span asp-validation-for="CategorieId" class="text-danger"></span>
    </div>
   
    <!-- Autres champs pour le repos -->
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
