@model Clinic.Models.Poste
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="icon" href="img/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/icofont.css">
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/datepicker.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <header class="header">
        <div class="header-inner">
            <div class="heading">
                <div class="inner">
                    <div class="row">
                        <div class="col">
                            <a href="" class="logo">
                                <i class="fa fa-heartbeat" aria-hidden="true"><strong>CliniSys</strong></i>
                            </a>
                            <div class="mobile-nav"></div>
                        </div>
                        <div class="col">
                            <div class="main-menu">
                                <nav class="navigation">
                                    <ul class="nav menu">
                                        <li><a asp-area="" asp-controller="Emploi" asp-action="Create">Employée</a></li>
                                        <li><a asp-area="" asp-controller="Repos" asp-action="Index">Pause</a></li>
                                        <li><a asp-area="" asp-controller="Supplement" asp-action="Index">Heures Supplémentaire</a></li>
                                        <li><a asp-area="" asp-controller="Emploi" asp-action="Create">Emploi</a></li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Index"> <div class="btn">Déconnexion  </div></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <form asp-action="AddPoste" class="container">
        <div class="text center"><h1>Gestion <span> Des poste</span></h1></div>
        <div class="container margin">
            <div class="col">
                <label asp-for="Postename" class="text"><h5>Nom du poste </h5></label>
                <input asp-for="Postename" placeholder="Nom Poste" class="boxx" />
                <span asp-validation-for="Postename"></span>
            </div>
            <strong>
                <div class="row">
                    <div class="col">
                        <label><input type="checkbox" asp-for="Matin"> Matin</label>
                    </div>
                    <div class="col">
                        <label><input type="checkbox" asp-for="ApresMidi"> Après-midi</label>
                    </div>
                    <div class="col">
                        <label><input type="checkbox" asp-for="GardeSoir"> Garde de soir</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Séance 1 :</label>
                    </div>
                    <div class="col">
                        <label>Début :</label>
                        <input asp-for="Seance1Debut" type="time" class="box">
                    </div>
                    <div class="col">
                        <label>Fin :</label>
                        <input asp-for="Seance1Fin" type="time" class="box">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>Séance 2 :</label>
                    </div>
                    <div class="col">
                        <label>Début :</label>
                        <input asp-for="Seance2Debut" type="time" class="box">
                    </div>
                    <div class="col">
                        <label>Fin :</label>
                        <input asp-for="Seance2Fin" type="time" class="box">
                    </div>
                </div>
                <div class="row margin">
                    <div class="col">
                        <label><input type="checkbox" asp-for="Actif"> Actif?</label>
                    </div>
                    <div class="row margin">
                        <div class="col">
                            <label>Catégorie :</label>
                            @if (ViewBag.CategorieList != null)
                            {
                                <select asp-for="CategorieId" asp-items="ViewBag.CategorieList" class="box" required>
                                    <option value="">Sélectionnez une catégorie</option>
                                </select>
                            }
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="col">
                            <button type="submit" class="btn">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </strong>
        </div>
    </form>

    <form asp-action="UpdatePoste">
        <select asp-for="PosteId" asp-items="@ViewBag.PosteList" class="box" required>
            <option value="">Sélectionnez un poste</option>
        </select>

        <strong>
            <div class="row">
                <div class="col">
                    <label><input type="checkbox" asp-for="Matin"> Matin</label>
                </div>
                <div class="col">
                    <label><input type="checkbox" asp-for="ApresMidi"> Après-midi</label>
                </div>
                <div class="col">
                    <label><input type="checkbox" asp-for="GardeSoir"> Garde de soir</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Séance 1 :</label>
                </div>
                <div class="col">
                    <label>Début :</label>
                    <input asp-for="Seance1Debut" type="time" class="box">
                </div>
                <div class="col">
                    <label>Fin :</label>
                    <input asp-for="Seance1Fin" type="time" class="box">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Séance 2 :</label>
                </div>
                <div class="col">
                    <label>Début :</label>
                    <input asp-for="Seance2Debut" type="time" class="box">
                </div>
                <div class="col">
                    <label>Fin :</label>
                    <input asp-for="Seance2Fin" type="time" class="box">
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <label><input type="checkbox" asp-for="Actif"> Actif?</label>
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <label>Catégorie :</label>
                    @if (ViewBag.CategorieList != null)
                    {
                        <select asp-for="CategorieId" asp-items="ViewBag.CategorieList" class="box" required>
                            <option value="">Sélectionnez une catégorie</option>
                        </select>
                    }
                </div>
            </div>
            <div class="row margin">
                <div class="col">
                    <button type="submit" class="btn">Enregistrer</button>
                </div>
            </div>
        </strong>
    </form>
    <form asp-action="DeletePoste">
    
        <select asp-for="PosteId" asp-items="@ViewBag.PosteList" class="box" required>
            <option value="">Sélectionnez un poste</option>
        </select>
        <div class="form-group">
            <label for="CategorieId">Select Categorie</label>
            @if (ViewBag.CategorieList != null)
            {
                <select id="CategorieId" name="categorieId" class="form-control" asp-items="ViewBag.CategorieList"></select>
            }
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</body>
</html>
